<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nf.movie.movie.dao.MovieDao">
    <resultMap id="MovieMap" type="edu.nf.movie.movie.entity.MovieInfo">
        <id property="movieId" column="movie_id"/>
        <result property="movieName" column="movie_name"/>
        <result property="movieEnglishName" column="movie_english_name"/>
        <result property="movieWantToSee" column="movie_want_to_see"/>
        <result property="movieType" column="movie_type"/>
        <result property="movieRegion" column="movie_region"/>
        <result property="movieYear" column="movie_year"/>
        <result property="movieState" column="movie_state"/>
        <result property="movieTime" column="movie_time"/>
        <result property="movieIntroduce" column="movie_introduce"/>
        <association property="moviesType" resultMap="MovieType"/>
        <association property="moviesRegion" resultMap="MovieRegion"/>
        <association property="moviesYear" resultMap="MovieYear"/>
        <association property="moviesState" resultMap="MovieState"/>
        <association property="actorInfo" resultMap="ActorMap"/>
        <association property="actorJoinMovie" resultMap="ActorJoinMovie"/>
        <association property="movieImage" resultMap="MovieImage"/>
    </resultMap>

    <resultMap id="ActorMap" type="edu.nf.movie.actor.entity.ActorInfo">
        <id property="actorId" column="actor_id"/>
        <result property="actorName" column="actor_name"/>
        <result property="actorEnglishName" column="actor_english_name"/>
        <result property="actorIdentity" column="actor_identity"/>
        <result property="actorBirthday" column="actor_birthday"/>
        <result property="actorSex" column="actor_sex"/>
        <result property="actorIntroduce" column="actor_introduce"/>
        <result property="actorBirthplace" column="actor_birthplace"/>
        <result property="actorNationality" column="actor_nationality"/>
        <result property="actorGraduation" column="actor_graduation"/>
        <result property="actorPrize" column="actor_prize"/>
    </resultMap>

    <resultMap id="ActorJoinMovie" type="edu.nf.movie.actor.entity.ActorJoinMovie">
        <result property="actorId" column="actor_id"/>
        <result property="movieId" column="movie_id"/>
    </resultMap>

    <resultMap id="MovieType" type="edu.nf.movie.movie.entity.MovieType">
        <id property="movieTypeId" column="mt_id"/>
        <result property="movieTypeMessage" column="mt_message"/>
    </resultMap>

    <resultMap id="MovieRegion" type="edu.nf.movie.movie.entity.MovieRegion">
        <id property="movieRegionId" column="mr_id"/>
        <result property="movieRegionMessage" column="mr_message"/>
    </resultMap>

    <resultMap id="MovieYear" type="edu.nf.movie.movie.entity.MovieYear">
        <id property="movieYearId" column="my_id"/>
        <result property="movieYearMessage" column="my_message"/>
    </resultMap>

    <resultMap id="MovieState" type="edu.nf.movie.movie.entity.MovieState">
        <id property="movieStateId" column="ms_id"/>
        <result property="movieStateMessage" column="ms_message"/>
    </resultMap>

    <resultMap id="MovieImage" type="edu.nf.movie.movie.entity.MovieImage">
        <id property="movieId" column="mi_id"/>
        <result property="movieImageId" column="mi_movie_id"/>
        <result property="movieImagePath" column="mi_path"/>
        <result property="movieImageType" column="mi_type"/>
    </resultMap>

    <select id="movieInfoList" resultMap="MovieMap">
        select movie_id,movie_name,movie_english_name,movie_want_to_see,mt_id,mt_message,mr_id,mr_message,my_id,my_message,ms_id,ms_message,movie_time,movie_introduce
        from movie_info mi
        left join movie_type mt on mi.movie_type=mt.mt_id
        left join movie_region mr on mi.movie_region=mr.mr_id
        left join movie_year my on mi.movie_year=my.my_id
        left join movie_state ms on mi.movie_state=ms.ms_id
        <where>
            <if test="param1.movieName != null and param1.movieName != ''">
                mi.movie_name=#{param1.movieName}"%"
            </if>
            <if test="param1.movieType != null and param1.movieType != ''">
                and mi.movie_type=#{param1.movieType}
            </if>
            <if test="param1.movieRegion != null and param1.movieRegion != ''">
                and mi.movie_region=#{param1.movieRegion}
            </if>
            <if test="param1.movieYear != null and param1.movieYear != ''">
                and mi.movie_year=#{param1.movieYear}
            </if>
            <if test="param1.movieState != null and param1.movieState != ''">
                and mi.movie_state=#{param1.movieState}
            </if>
        </where>
        order by movie_id asc
    </select>

    <select id="movieStateList" resultMap="MovieState">
        select ms_id,ms_message from movie_state order by ms_id asc
    </select>

    <select id="movieInfoListByState" resultMap="MovieMap"  parameterType="java.lang.Integer">
        select movie_id,movie_name,movie_english_name,movie_want_to_see,mt_message,mr_message,my_message,ms_message,movie_time,movie_introduce
        from movie_info mi
        left join movie_type mt on mi.movie_type=mt.mt_id
        left join movie_region mr on mi.movie_region=mr.mr_id
        left join movie_year my on mi.movie_year=my.my_id
        left join movie_state ms on mi.movie_state=ms.ms_id
        where ms_id = #{State}
    </select>


    <select id="movieTypeList" resultMap="MovieType">
        select mt_id,mt_message from movie_type order by mt_id asc
    </select>

    <select id="movieYearList" resultMap="MovieYear">
        select my_id,my_message from movie_year order by my_id desc
    </select>

    <select id="movieRegionList" resultMap="MovieRegion">
        select mr_id,mr_message from movie_region order by mr_id asc
    </select>


    <select id="findMovie" resultMap="MovieMap" parameterType="integer">
        select movie_id,movie_name,movie_english_name,movie_want_to_see,movie_type,
        movie_year,movie_region,movie_state,mt_message,mr_id,mr_message,my_id,my_message,
        ms_id,ms_message,movie_time,movie_introduce
        from movie_info mi
        left join movie_type mt on mi.movie_type=mt.mt_id
        left join movie_region mr on mi.movie_region=mr.mr_id
        left join movie_year my on mi.movie_year=my.my_id
        left join movie_state ms on mi.movie_state=ms.ms_id
				where movie_id = #{movieId}
    </select>

    <select id="moviePoster" resultMap="MovieImage" parameterType="integer">
        select mi_path from movie_image where mi_movie_id = #{movieId} and mi_type=1
    </select>


    <select id="listMoviePoster" resultType="string" parameterType="integer">
        select mi_path from movie_image where mi_movie_id = #{movieId} and mi_type=2
    </select>

    <select id="listMovieActor" resultMap="MovieMap" parameterType="integer">
        select mi.movie_id,mi.movie_name,mo.mi_path from movie_info mi
            left join movie_image mo on mo.mi_movie_id=mi.movie_id
            left join actor_join_movie ajm on ajm.movie_id=mi.movie_id
            left join actor_info ai on ai.actor_id=ajm.actor_id where ai.actor_id =#{actorId} and mo.mi_type=1
    </select>

    <update id="updateMovieInfo" parameterType="edu.nf.movie.movie.entity.MovieInfo">
        update movie_info set movie_name=#{movieName},movie_english_name=#{movieEnglishName},movie_want_to_see=#{movieWantToSee},
        movie_type=#{movieType},movie_region=#{movieRegion},movie_year=#{movieYear},movie_state=#{movieState},movie_time=#{movieTime},
        movie_introduce=#{movieIntroduce} where movie_id=#{movieId}
    </update>

    <insert id="addMovieInfo" parameterType="edu.nf.movie.movie.entity.MovieInfo">
        insert into movie_info(movie_name,movie_english_name,movie_want_to_see,movie_type,movie_region,movie_year,movie_state,movie_time,movie_introduce)
        values(#{movieName},#{movieEnglishName},#{movieWantToSee},#{movieType},#{movieRegion},#{movieYear},#{movieState},#{movieTime},#{movieIntroduce})
    </insert>
</mapper>