<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nf.movie.cinema.dao.CinemaDao">
    <resultMap id="CustomerMap" type="edu.nf.movie.cinema.entity.CinemaInfo">
        <id property="cinemaId" column="mu_id"/>
        <result property="cinemaName" column="mu_name"/>
        <result property="cinemaAccounts" column="mu_accounts"/>
        <result property="cinemaPassword" column="mu_password"/>
        <result property="cinemaPhoto" column="mu_photo"/>
        <result property="cinemaSex" column="mu_sex"/>
        <result property="cinemaTelephone" column="mu_telephone"/>
        <result property="cinemaAddress" column="mu_address"/>
        <result property="cinemaIDCard" column="mu_IDcard"/>
        <result property="cinemaState" column="mu_state"/>
    </resultMap>

    <resultMap id="roleMap" type="edu.nf.movie.cinema.entity.CinemaRole">
        <id property="cinemaRoleId" column="cr_id"/>
        <result property="cinemaRoleName" column="cr_name"/>
    </resultMap>

    <select id="findCinemaByAccounts" resultMap="CustomerMap" parameterType="string">
         select mu.mu_id,mu.mu_name,mu.mu_accounts,mu.mu_password,mu.mu_photo,mu.mu_sex,mu.mu_telephone,
        mu.mu_address,mu.mu_IDcard,mu.mu_state,mr.mr_id,mr.mr_name
        from movieadministrator_user mu
        join movieadministrator_user_role mur on mu.mu_id=mur.mu_id
        join movieadministrator_role mr on mr.mr_id=mur.mr_id
        where mu.mu_accounts = #{accounts}
    </select>
</mapper>