<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nf.movie.customer.dao.CustomerDao">
    <resultMap id="CustomerMap" type="edu.nf.movie.customer.entity.CustomerInfo">
        <id property="customerId" column="cu_id"/>
        <result property="customerName" column="cu_name"/>
        <result property="customerAccounts" column="cu_accounts"/>
        <result property="customerPassword" column="cu_password"/>
        <result property="customerPhoto" column="cu_photo"/>
        <result property="customerSex" column="cu_sex"/>
        <result property="customerBirthday" column="cu_birthday"/>
        <result property="customerInterest" column="cu_interest"/>
        <result property="customerSign" column="cu_sign"/>
        <result property="customerState" column="cu_state"/>
    </resultMap>

    <resultMap id="roleMap" type="edu.nf.movie.customer.entity.CustomerRole">
        <id property="customerRoleId" column="cr_id"/>
        <result property="customerRoleName" column="cr_name"/>
    </resultMap>

    <select id="findCustomerByAccounts" resultMap="CustomerMap" parameterType="string">
        select cu.cu_id,cu.cu_name,cu.cu_accounts,cu.cu_password,cu.cu_photo,cu.cu_sex,
        cu.cu_birthday,cu.cu_interest,cu.cu_sign,cu.cu_state,cr.cr_id,cr.cr_name
        from customer_user cu
        join customer_user_role cur on cu.cu_id=cur.cu_id
        join customer_role cr on cr.cr_id=cur.cr_id
        where cu.cu_accounts=#{accounts}
    </select>
</mapper>